.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor-container {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.editor-container textarea {
  margin: 20px 0;
  height: 40vh;
  width: 50vw;
}

.previewer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 100%;
}

.previewer {
  background-color: blanchedalmond;
  height: auto;
  width: 70vw;
  padding: 2rem;
}
