*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: inherit;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center; }

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left; }

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none; }

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none; }

body {
  margin: 0; }

.timer__duration {
  display: flex;
  border: solid 2px red; }
  .timer__duration-text {
    border: solid 2px lightblue;
    display: flex;
    flex: 1;
    padding: 1rem 1rem; }
  .timer__duration-session {
    border: solid 2px pink;
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem;
    flex: 1; }
    .timer__duration-session-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 1rem 0; }
  .timer__duration-break {
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem; }
    .timer__duration-break-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 1rem 0; }
  .timer__duration-display {
    padding: 0 1.5rem; }
  .timer__duration button {
    border: solid 1px black;
    padding: 0.5rem 1rem;
    border-radius: 25%; }

.timer__playback {
  display: flex;
  border: solid 2px greenyellow;
  align-items: center;
  justify-content: center; }

.display {
  border: solid 2px blue;
  padding: 5rem 0; }
  .display__time-left {
    margin: 0 auto; }
  .display__timer-label {
    border: solid 2px greenyellow;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0; }

body {
  text-align: center; }

.timer {
  font-family: 'Rubik', sans-serif; }
  .timer__duration h2 {
    font-size: 3rem;
    font-weight: 400; }

.display__time-left {
  font-size: 11rem;
  font-weight: 400; }

.display h2 {
  font-size: 3rem; }
