body {
    font-family: Helvetica, sans-serif;
    
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #520556;
    background-color: #8b104e;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff9900;
    min-width: 265px;
    min-height: 275px;
    padding-top: 15px;
    font-size: 1.2em;
    border-radius: 3px;
}

ul {
    padding-left: 0;
    align-self: flex-start;
}

li {
    list-style-type: none;
    padding: 0 15px;
}

span {
    padding-right: 50px;
}

#textInput {
    outline: none;
    border: none;
    margin: 3px 0 15px 0;
    background-color: #ca431d;
    color: #520556;
    width: 180px;
    height: 30px;
    border-radius: 1px;
}

#textInput:focus {
    border: 1px solid #520556;
}

.completed {
    color: #8b104e;
    text-decoration: line-through;
}