body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(7, 175, 175);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}