*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 3rem; }

#container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center; }

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 31rem;
  height: 35rem;
  background-color: #0e1111;
  border-radius: 0.6rem; }
