body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4de02145f4d6671a8771ec7ae742d07e&auto=format&fit=crop&w=2100&q=80');
    background-size: cover;
    background-position: center;
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 310px;
    height: 350px;
    background-color: #0e1111;
    border-radius: 6px;
  }

.display {
    height: 40px;
    width: 200px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #91B49C;
    color: #0e1111;
    margin: 20px 0;
    padding-top: 7px;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
}

.drum-pad {
    width: 70px;
    height: 70px;
    background-color: #0e1111;
    color: #d2d6d0;
    font-size: 20px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.03s;
}

.top-row, .mid-row, .bottom-row {
    display: flex;
    justify-content: flex-start;
}

.top-row .drum-pad {
    border: 2px solid #9900ff;
}

.mid-row .drum-pad {
    border: 2px solid #0099ff;
}

.bottom-row .drum-pad {
    border: 2px solid #e6f042;
    margin-bottom: 30px;
}

.triggered {
    transform: scale(1.1);
    box-shadow: 0 0 5px #d2d6d0;
}