body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue;
}

.display {
    height: 40px;
    width: 200px;
    background-color: white;
    margin: 10px 0;
    border-radius: 2px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 270px;
    background-color: #131b1b;
    border-radius: 6px;
  }

.drum-pad {
    width: 70px;
    height: 70px;
    background-color: #232b2b;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* border: red 1px solid; */
}