body {
    font-family: Helvetica, sans-serif;
}

p {
    margin-bottom: 0;
    text-align: justify;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 270px;
    border: 2px red solid;
  }

.drum-pad {
    width: 70px;
    height: 70px;
    background-color: white;
    margin: 5px;
}