body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f85959;
}
