* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.list-items {
    padding: 15px 0 15px 35px;
}

textarea {
    vertical-align: top;
}