body {
    display: flex;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1446061595247-0a20dcf3af01?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=458bb4ace020edf1c6b7feff82b47235&auto=format&fit=crop&w=1489&q=80');
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
}

.headerTitle, .weatherDisplay {
    background-color: whitesmoke;
    width: 540px;
}

.headerTitle { 
    margin-top: 50px;
}

h1 {
    margin: 0;
    align-self: center;
    font-size: 4rem;
    padding-top: 15px;
}

.weatherDisplay {
    height: 350px;
    padding-top: 30px;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

button {
   margin-bottom: 30px; 
}

.iconVisible {
    display: none;
}

.iconStyle {
    font-size: 60px;
}

p {
    margin: 0;
}