#container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 35rem;
    height: 42rem;
    background-color: #0e1111;
    border-radius: 0.6rem;
    padding: 1rem 0;
  }

  #display {
      height: 5rem;
      width: 80%;
      background-color: green;
      margin-top: 1rem;
      padding: 0.5rem 0.5rem 0 0;
  }

  .row {
    display: flex;
    justify-content: flex-start;
    height: 15%;
}

  .button {
      border: 0.1rem solid white;
      min-width: 7rem;
      color: #d2d6d0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.4rem;
      margin: 0 0.25rem;
  }

  #clear, #zero {
      width: 14rem;
  }

  #equals {
      height: 12.6rem;
      z-index: 2;
  }

  #dummy {
      opacity: 0;
  }