body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 3rem;
}

#display {
    font-size: 3rem;
    text-align: right;
    padding: 1rem 0.5rem 0 0;
}

#button {
    font-size: 1.5rem;
}
