body {
    margin: 0;
}

.timer {
    border: solid 2px $color-tertiary;
    border-radius: 1rem;

    &__duration {
        display: flex;

        &-text {
            display: flex;
            flex: 1;
            padding: 1rem 1rem;
        }

        &-session {
            display: flex;
            flex-wrap: wrap;
            max-width: 25rem;
            flex: 1;
            
            &-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                margin: 1rem 0;
            }
        }

        &-break {
            display: flex;
            flex-wrap: wrap;
            max-width: 25rem;

            &-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                margin: 1rem 0;
            }
        }

        &-display {
            padding: 0 1.5rem;
        }

        button {
            padding: 0.5rem 1rem;
            border-radius: 25%;
        }
    }

    &__playback {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.display {
    padding: 2rem 0;

    &__time-left {
        margin: 0 auto;
    }

    &__timer-label {
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;
    }
}

.paused {
    opacity: 0;
}

#break-text {
    padding-left: 3.5rem;
}