.timer {
    &__duration {
        display: flex;
        border: solid 2px red;

        &-text {
            border: solid 2px lightblue;
            display: flex;
            flex: 1;
            padding: 0 1rem;
        }

        &-session {
            border: solid 2px pink;
            display: flex;
            flex-wrap: wrap;
            max-width: 25rem;
            flex: 1;
            
            &-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
            }
        }

        &-break {
            display: flex;
            flex-wrap: wrap;
            max-width: 25rem;

            &-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
            }
        }
    }

    &__playback {
        display: flex;
        border: solid 2px greenyellow;
    }
}

.display {
    border: solid 2px blue;
    padding: 5rem 0;
}