body {
    text-align: center;
}

.timer {
    font-family: 'Rubik', sans-serif;

    &__duration h2 {
        font-size: 3rem;
        font-weight: 400;
    }
}

.display {
    &__time-left {
        font-size: 11rem;
        font-weight: 400;
    }

    h2 {
        font-size: 3rem;
    }
}

