.timer {
    font-family: 'Rubik', sans-serif;

    &__duration h2 {
        font-size: 3rem;
        font-weight: 400;
    }
}

.display {
    h1 {
        font-size: 11rem;
        font-weight: 400;
        text-align: center;
    }

    h2 {
        font-size: 3rem;
    }
}

